%p
  The following form calculates the Blood Pressure Percentile for children
  between ages 2 and 20. The formula is based on algorithm provided by the
  %strong Centers for Disease Control and Prevention:

  = link_to 'Growth Charts - Percentile Data Files with LMS Values', 'http://www.cdc.gov/growthcharts/percentile_data_files.htm', target: '_blank'
