.container
  .row
    .col-md-3
      = render 'editor/menu'
    .col-md-9
      .color-container.dark-brown
        %h1.brand Members
        %h4.brown Editor Dashboard
      .color-container.dark-brown
        %p.lead
          You may edit the members in the directory here.

      = render 'members'
