.row
  .col-md-9.order-2
    .section-heading-internal
      %h1
        Members
        = link_to 'Add New Member', new_editor_member_path, class: 'btn btn-xs btn-default'
      .section-description You may edit the members in the directory here.
    .section-body= render 'members'
  .col-md-3.order-1
    = render 'setup/menu'
