- @title = 'New Member'

.row
  .col-sm-9.col-sm-push-3
    .section-heading-internal
      %h1
        New Member
      .section-description
        Enter new member information.
    .section-body
      = render 'form'
  .col-sm-3.col-sm-pull-9
    = render 'setup/menu'
