- @title = 'New Member'

.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.dark-brown
        %h1.brand
          New Member
        %h4.brown
          Enter new member information.

      .color-container
        = render 'form'

