- @title = 'New Member'

.row
  .col-md-9.order-2
    .section-heading-internal
      %h1
        New Member
      .section-description
        Enter new member information.
    .section-body
      = render 'form'
  .col-md-3.order-1
    = render 'setup/menu'
