- @title = "New Member"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("setup/sidebar")
- content_for :header, @title

.jumbotron.jumbotron-custom-text
  Enter new member information.

.dashboard-container= render "form", member: @member
