.row
  .col-3.col-md-3.col-lg-4
    .text-center
      .animated-child.animated-child-shift-right.animation-delay-6
        = image_tag "pats-boy.png", class: "child-size"
  .col-6.col-md-6.col-lg-4
    .text-center
      %h1.brand
        .letters
          .animated-letter.animation-delay-3.animated-letter-shift-down P
          .animated-letter.animation-delay-1.animated-letter-shift-up A
          .animated-letter.animation-delay-2.animated-letter-shift-down T
          .animated-letter.animation-delay-4.animated-letter-shift-up S
      %h2.brand.d-none.d-sm-block
        .letters
          .animated-letter.animation-delay-3 T
          .animated-letter.animation-delay-2 r
          .animated-letter.animation-delay-1 i
          .animated-letter.animation-delay-2 a
          .animated-letter.animation-delay-3 l
  .col-3.col-md-3.col-lg-4
    .text-center
      .animated-child.animated-child-shift-left.animation-delay-5
        = image_tag "pats-girl.png", class: "child-size"
