.section-heading
  %h2 Contact Us
  %h4 Pediatric Adenotonsillectomy Trial for Snoring

.section-body
  .row
    .col-sm-6
      %h2
        via email
      %p.lead
        = mail_to ENV["support_email"], ENV["support_email"], class: "text-white"

    .col-sm-6
      %h2
        our address
      %p.lead
        %strong Sleep and Circadian Disorders
        %br
        221 Longwood Avenue, BLI 225
        %br
        Boston, MA 02115
