%a.anchor-top{ name: 'contact' }
.dark-purple
  .container
    .color-container
      %h1.brand Contact Us
      %h4.purple Pediatric Adenotonsillectomy Trial for Snoring

.container
  .color-container.purple-fill
    .row
      .col-sm-6
        %h2
          via email
        %p.lead
          = link_to "mailto:#{ENV['support_email']}" do
            = ENV['support_email']

      .col-sm-6
        %h2
          our address
        %p.lead
          %strong Sleep and Circadian Disorders
          %br
          221 Longwood Avenue, BLI 225
          %br
          Boston, MA 02115
