.section-heading
  %h2 Sites

.section-body
  .row
    .col-md-6
      %h3.heading-underline Recruiting Centers
      - Site.order(:name).current.where(recruiting_center: true).each do |site|
        .site-container
          %h4= site.name
          .site-contact-information
            %p=site.address
            %p=site.contact

    .col-md-6
      %h3.heading-underline Coordinating Centers
      - Site.order(:name).current.where(coordinating_center: true).each do |site|
        .site-container
          %h4= site.name
          .site-contact-information
            %p=site.address
