- @title = "Credits"
- content_for :header, @title

.dashboard-container
  %h2.dashboard-lead Special thanks to:
  %ul.lead
    %li
      %strong Joel S. Rube
      %br
      %small Artist of PATS Boy, PATS Girl, and PATS Logo

= content_for :footer do
  = render "external/welcome"
