%div{ style: 'height: 3px' }
  &nbsp;
%a.anchor-top{ name: 'participate' }
= render 'external/participate'

.purple-border-top
  = render 'external/sites'

.purple-border-top
  = render 'external/contact'
