- @title = 'Sites'
.dark-purple
  .container
    .color-container
      %h1.brand Participating Sites
      %h4.brand.purple Pediatric Adenotonsillectomy Trial for Snoring


- Site.order(:name).current.each_with_index do |site, index|
  - colors = %w(purple-light pink brown-light brown purple)
  %div{ class: "#{colors[index % colors.size]}-fill" }
    .container
      .color-container
        %h2= site.name
        %p.lead=site.address

.purple
  .container
    .color-container
      = image_tag 'pats-logo-transparent.png', alt: '', class: 'img-responsive'
