- @title = "Version"

- @theme = "deep-purple"

.page-box.last-box.d-flex.align-items-center.theme-bg{ class: "theme-#{@theme}-focus-bg" }
  .container
    .jumbotron.jumbotron-transparent{ class: @theme != "default" ? "text-white" : nil }
      = render "external/animated_logo"
      .text-center{ style: "font-size: 1.25rem;" }
        = "v#{PatsTrial::VERSION::STRING}"

