.container
  .row
    .col-md-3
      = render 'internal/menu'
    .col-md-9
      .color-container.dark-brown
        %h1.brand Dashboard
        %h4.brand.brown Pediatric Adenotonsillectomy Trial for Snoring
      %a.anchor-top{ name: 'home'}
      .color-container.brown-light
        %h2.brand.dark-brown-light Home
        %p.lead
          Welcome to your personalized dashboard!
        %p.lead
          Here you are able to see the current live statistics of the
          PATS Trial recruitment efforts. If you have any questions, don't
          hesitate to
          = mail_to ENV['support_email'], 'contact us'
          if you have any questions!

      %a.anchor-top{ name: 'recruitment-efforts'}
      .color-container.brown-light{ style: 'border-color: transparent' }
        %h2.brand.dark-brown-light Recruitment Efforts
        %table.table.table-striped
          %thead
            %tr
              %th Site
              %th Recruitment Stats
          %tfoot
            %tr
              %th Overall
              %th
                %span.brown-fill-white{ style: 'display:inline-block;padding: 2px 4px; border-radius:4px' } 49
                of 100
          %tbody
            %tr
              %td Boston
              %td
                %span.brown-fill-white{ style: 'display:inline-block;padding: 2px 4px; border-radius:4px' } 20
                of 40
            %tr
              %td Site 2
              %td
                %span.brown-fill-white{ style: 'display:inline-block;padding: 2px 4px; border-radius:4px' } 24
                of 40
            %tr
              %td Site 3
              %td
                %span.brown-fill-white{ style: 'display:inline-block;padding: 2px 4px; border-radius:4px' } 5
                of 20
      %a.anchor-top{ name: 'publications'}
      .color-container.brown-light
        %h2.brand.dark-brown-light Publications
        %ul.lead
          %li Publication 1
          %li Publication 2
          %li Publication 3

      .color-container.dark-purple
        %h1.brand More

      %a.anchor-top{ name: 'interesting-article'}
      .color-container.purple-light
        %h2.brand.dark-purple-light Interesting Article
        %p.lead
          Here's a
          = link_to 'link', dashboard_path
          to an interesting article about adenotonsillectomy.

      .color-container.dark-pink
        %h1.brand Final Thoughts

      %a.anchor-top{ name: 'in-conclusion'}
      .color-container.pink
        %h2.brand.dark-pink In Conclusion
