- @title = "Leaving Site"

- content_for :sidebar, render("internal/sidebar")

- content_for :header, @title

.jumbotron.jumbotron-custom-text
  = icon("fas", "exclamation-triangle")
  The following link requires a Slice login and will leave the PATS Trial
  website.

.section-body
  %p.text-center
    = link_to params[:slice], params[:slice]
