- @title = @page.name

- content_for :header, @title
= render "internal/tabs"
- content_for :sidebar, render("internal/sidebar")

- @page.reports.where(archived: false).each do |report|
  = render "reports/chart", report: report if report.chart?
  = render "reports/table", report: report if report.table?
  = render "reports/grades", report: report if report.grades?
