- @title = @category.name

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("internal/sidebar")

- content_for :header, @title

.jumbotron.jumbotron-custom-text
  = @video.name

.section-body
  .embed-responsive.embed-responsive-16by9
    %iframe.embed-responsive-item{ src: @video.embed_url, webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }
