.row
  .col-md-9.order-2
    .section-heading-internal
      %h1= link_to @category.name, internal_category_path(@category.top_level, @category.slug)
      .section-description= @video.name

    .section-body
      .embed-responsive.embed-responsive-16by9
        %iframe.embed-responsive-item{ src: @video.embed_url, webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }
  .col-md-3.order-1
    = render 'internal/menu'
