.row
  .col-sm-9.col-sm-push-3
    .section-heading-internal
      %h1= link_to @category.name, internal_category_path(@category.top_level, @category.slug)
      .section-description= @video.name

    .section-body
      .embed-responsive.embed-responsive-16by9
        %iframe.embed-responsive-item{ src: @video.embed_url, webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }
  .col-sm-3.col-sm-pull-9
    = render 'internal/menu'
