- @title = "Edit Committee: #{@committee.name_was}"

.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.dark-purple
        %h1.brand
          = @committee.name_was
        %h4.purple
          Edit Committee

      .color-container
        = render 'form'

