- @title = "Edit Committee: #{@committee.name_was}"

.row
  .col-md-9.order-2
    .section-heading-internal
      %h1
        = @committee.name_was
      .section-description
        Edit Committee
    .section-body
      = render 'form'
  .col-md-3.order-1
    = render 'setup/menu'
