- @title = "#{@committee.name_was} Edit"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("setup/sidebar")
- content_for :header do
  = link_to @committee.name_was, editor_committee_path(@committee)
  Edit

.dashboard-container= render "form", committee: @committee
