.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.dark-brown
        %h1.brand Committees
        %h4.brown Editor Dashboard

      %a.anchor-top{ name: 'home'}
      .color-container.dark-brown
        %p.lead
          You may edit the committees and committee members here.

      = render 'committees'
