- @title = 'New Committee'

.container
  .row
    .col-md-3
      = render 'editor/menu'
    .col-md-9
      .color-container.dark-brown
        %h1.brand
          New Committee
        %h4.brown
          Committees are made up of committee members.

      .color-container
        = render 'form'

