- @title = 'New Committee'

.row
  .col-md-9.order-2
    .section-heading-internal
      %h1
        New Committee
      .section-description
        Committees are made up of committee members.

    .section-body
      = render 'form'

  .col-md-3.order-1
    = render 'setup/menu'
