- @title = 'New Committee'

.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.dark-purple
        %h1.brand
          New Committee
        %h4.purple
          Committees are made up of committee members.

      .color-container
        = render 'form'

