- @title = 'New Committee'

.row
  .col-sm-9.col-sm-push-3
    .section-heading-internal
      %h1
        New Committee
      .section-description
        Committees are made up of committee members.

    .section-body
      = render 'form'

  .col-sm-3.col-sm-pull-9
    = render 'setup/menu'
