.col-12.col-md-3.col-xl-2.sidebar-wrapper
  .sidebar
    #sidebar-nav-wrapper.sidebar-nav-wrapper.collapse
      .pt-3.py-md-3.mx-3.my-0.ml-md-3.mb-md-3.mr-md-0
        %ul.sidebar-menu.sidebar-menu-shadow
          %li.sidebar-menu-header= render "sidebar/toggle", title: "Directory"
          %li= link_to "Directory", directory_path, class: current_page?(directory_path) ? "active" : nil
          %li= link_to "Committees", committees_path, class: params[:controller] == "committees" ? "active" : nil
