- @title = "#{@video.name} Edit"

- content_for :sidebar, render("setup/sidebar")
- content_for :header do
  = link_to @video.name_was, editor_category_video_path(@category, @video)
  Edit

- @breadcrumbs = []
- @breadcrumbs << [@category.name, editor_category_path(@category)]
- @breadcrumbs << ["Videos", editor_category_videos_path(@category)]


.dashboard-container= render "form", video: @video
