- @title = 'New Video'

.container
  .row
    .col-md-3
      = render 'setup/menu'
    .col-md-9
      .color-container.dark-purple
        %h1.brand
          New Video
        %h4.brown


      .color-container
        = render 'form'

