- @title = "New Video"

- content_for :sidebar, render("setup/sidebar")
- content_for :header, @title

- @breadcrumbs = []
- @breadcrumbs << [@category.name, editor_category_path(@category)]
- @breadcrumbs << ["Videos", editor_category_videos_path(@category)]

.dashboard-container= render "form", video: @video
