.site-container {
  margin: $spacer 0;

  h4 {
    font-weight: 200;
  }
}

.site-contact-information {
  margin-left: $spacer;
  font-weight: 200;
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .site-contact-information {
      color: map-get($theme, p600);
    }
  }
}
