.row
  .col-md-9.order-2
    .section-heading-internal
      %h1
        Folders
        = link_to 'Add New Folder', new_editor_category_path, class: 'btn btn-sm btn-light'
      .section-description
        You may edit folders, upload documents, and embed videos here.
    .section-body= render 'categories'
  .col-md-3.order-1
    = render 'setup/menu'
