.container
  .row
    .col-md-3
      = render 'editor/menu'
    .col-md-9
      .color-container.dark-brown
        %h1.brand Categories
        %h4.brown Editor Dashboard

      %a.anchor-top{ name: 'home'}
      .color-container.dark-brown
        %p.lead
          You may edit the categories and upload documents here.

      = render 'categories'
