- @title = "New Folder"

- content_for :sidebar, render("setup/sidebar")
- content_for :header, @title

.jumbotron.jumbotron-custom-text
  Folders organize uploaded documents and embedded videos.

.dashboard-container= render "form", category: @category
