- @title = 'New Folder'

.row
  .col-sm-9.col-sm-push-3
    .section-heading-internal
      %h1
        = link_to 'Folders', editor_categories_path
        &middot;
        New Folder
      .section-description
        Folders organize uploaded documents and embedded videos.

    .section-body
      = render 'form'

  .col-sm-3.col-sm-pull-9
    = render 'setup/menu'
