- @title = 'New Category'

.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.dark-brown
        %h1.brand
          New Category
        %h4.brown
          Categories organize uploaded documents.

      .color-container
        = render 'form'

