.grade
  .grade-title
    %span.nowrap= hash[:short_name]
  .report-number
    = render 'reports_static/grade', percent: hash[:percent]
  - if hash[:percent].present?
    %div{ style: 'margin-top: 20px;' }
      %small
        %span.percent= "#{hash[:percent]}%"
