-# General
%meta{ name: "description", content: "PATS Trial, a study to evaluate the effects of early adenotonsillectomy (eAT) on the behavior, sleep-disordered breathing symptoms and quality of life for children who snore, but do not have obstructive sleep apnea, as well as identify factors that moderate responses to the surgery." }
%meta{ name: "author", content: "" }
%meta{ name: "keywords", content: "trial, study, child, sleep apnea, tonsils, snore, boston sleep" }
