- category_scope = Category.current.where(archived: false)
- category_scope = category_scope.where(unblinded_only: false) unless current_user && current_user.can_view_unblinded_folder?

.col-12.col-md-3.col-xl-2.sidebar-wrapper
  .sidebar
    #sidebar-nav-wrapper.sidebar-nav-wrapper.collapse
      .pt-3.py-md-3.mx-3.my-0.ml-md-3.mb-md-3.mr-md-0
        %ul.sidebar-menu.sidebar-menu-shadow
          %li.sidebar-menu-header= render "sidebar/toggle", title: "Docs"
          - category_scope.order(:top_level, :position).group_by(&:top_level).each do |top_level, categories|
            %li.sidebar-menu-header= top_level
            - categories.each do |category|
              - if category.documents.where(archived: false).present? || category.videos.where(archived: false).present?
                %li
                  = link_to category.name, internal_category_path(category.top_level, category.slug), class: (current_page?(internal_category_path(category.top_level, category.slug)) ? "active" : nil)
