- @title = "New Project"

- content_for :header, @title
= render "admin/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "projects", projects_path
    %li.breadcrumb-muted new project
- content_for :sidebar, render("setup/sidebar")

.dashboard-container
  = render "projects/form", project: @project
