- case document.content_type
- when "application/pdf"
  = icon("far", "file-pdf", class: extra)
- when "image/gif", "image/jpeg", "image/png"
  = icon("far", "file-image", class: extra)
- when "application/vnd.openxmlformats-officedocument.wordprocessingml.document", "application/msword"
  = icon("far", "file-word", class: extra)
- else
  = icon("far", "file-alt", class: extra)
