- @title = "New Document"

- content_for :sidebar, render("setup/sidebar")
- content_for :header, @title

- @breadcrumbs = []
- @breadcrumbs << [@category.name, editor_category_path(@category)]
- @breadcrumbs << ["Documents", editor_category_documents_path(@category)]

.dashboard-container= render "form", document: @document
