%div{ style: 'margin-top:30px;margin-bottom: 30px' }
  = link_to dashboard_path do
    = image_tag 'pats-logo-transparent.png', alt: '', class: 'img-responsive'
%ul.left-menu
  %li.left-menu-header Editor Dashboard
  %li{ class: params[:controller] == 'members' ? 'active' : nil }
    = link_to 'Members', members_path
  %li{ class: params[:controller] == 'categories' ? 'active' : nil }
    = link_to 'Categories', categories_path
