- @title = "Setup"


- content_for :header, @title
= render "admin/tabs"
- content_for :breadcrumbs do
  %ol
    %li.breadcrumb-muted overview
- content_for :sidebar, render("setup/sidebar")

.card-group.mb-3
  - if current_user.admin?
    .card{ style: "min-height: 250px;" }
      .card-header.bg-primary.text-white
        Users
      .card-body
        %ul.list-unstyled
          %li Approve users
          %li Set roles
          %li Modify names and emails
      .card-footer
        .text-center
          = link_to admin_users_path, class: "btn btn-sm btn-primary" do
            Edit Users

  - if current_user.editor?
    .card{ style: "min-height: 250px;" }
      .card-header.bg-primary.text-white
        Directory
      .card-body
        %ul.list-unstyled
          %li Add members
          %li Change site membership
          %li Modify contact information
      .card-footer
        .text-center
          = link_to editor_members_path, class: "btn btn-sm btn-primary" do
            Edit Directory

    .card{ style: "min-height: 250px;" }
      .card-header.bg-primary.text-white
        Folders
      .card-body
        %ul.list-unstyled
          %li Create folders
          %li Upload documents
          %li Embed videos
      .card-footer
        .text-center
          = link_to editor_categories_path, class: "btn btn-sm btn-primary" do
            Edit Folders

.jumbotron.jumbotron-custom-text
  Welcome to the PATS website setup overview!
