- @title = "Edit Site: #{@site.name_was}"

.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.dark-brown
        %h1.brand
          = @site.name_was
        %h4.brown
          Edit Site

      .color-container
        = render 'form'

