- @title = "Edit Site: #{@site.name_was}"

.container
  .row
    .col-md-3
      = render 'editor/menu'
    .col-md-9
      .color-container.dark-brown
        %h1.brand
          = @site.name_was
        %h4.brand.brown
          Edit Site

      .color-container
        = render 'form'

