.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.dark-purple
        %h1.brand Sites
        %h4.purple You may edit the sites here.
        = link_to 'Add New Site', new_editor_site_path, class: 'btn btn-xs btn-default'

      = render 'sites'
