- @title = "New Site"

- content_for :header, @title
= render "admin/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "sites", editor_sites_path
    %li.breadcrumb-muted new
- content_for :sidebar, render("setup/sidebar")

.dashboard-container= render "form", site: @site
