- @title = 'New Site'

.row
  .col-sm-9.col-sm-push-3
    .section-heading-internal
      %h1
        = link_to 'Sites', editor_sites_path
        &middot;
        New Site
      .section-description
        Sites are displayed on the public side of website.

    .section-body
      = render 'form'

  .col-sm-3.col-sm-pull-9
    = render 'setup/menu'
