- if committee_member.new_record?
  - url = editor_committee_committee_members_path(@committee)
  - method = :post
- else
  - url = editor_committee_committee_member_path(@committee, committee_member)
  - method = :patch

= form_with model: committee_member, url: url, method: method, local: true do |form|
  = render "forms/horizontal/select", form: form, object: committee_member, key: :member_id, options: Member.current.order(:first_name, :last_name).collect { |m| [m.name, m.id] }, include_blank: true
  = render "forms/horizontal/check_box", form: form, object: committee_member, key: :chair, key_name: "Committee chair"
  = render "forms/horizontal/submit", form: form, object: committee_member, cancel: url
