.container
  .row
    .col-md-3
      = render 'editor/menu'
    .col-md-9
      .color-container.purple
        %h1.brand= @committee.name
        %h4.brand
          Edit Committee Member

      = render 'form'
