- @title = "Committee Member Edit"

- content_for :sidebar, render("setup/sidebar")
- content_for :header, @title

- @breadcrumbs = []
- @breadcrumbs << [@committee.name, editor_committee_path(@committee)]

.dashboard-container= render "form", committee_member: @committee_member
