.row
  .col-md-9.order-2
    .section-heading-internal
      %h1= @committee.name
      .section-description
        Add Committee Member
    .section-body= render 'form'
  .col-md-3.order-1
    = render 'setup/menu'
