.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.purple
        %h1.brand= @committee.name
        %h4
          Add Committee Member

      = render 'form'
