.container
  .row
    .col-sm-9.col-sm-push-3
      .color-container.purple
        %h1.brand= @committee.name
        %h4
          Add Committee Member

      = render 'form'
    .col-sm-3.col-sm-pull-9
      = render 'setup/menu'
