.bg-p50 {
  background-color: $p50-deep-purple;
}

.bg-p100 {
  background-color: $p100-deep-purple;
}

.bg-p200 {
  background-color: $p200-deep-purple;
}

.bg-p300 {
  background-color: $p300-deep-purple;
}

.bg-p500 {
  background-color: $p500-deep-purple;
}
