.badge-a {
  background-color: $p600-green;
  color: $white;
}

.badge-b {
  background-color: $p700-yellow;
  color: $white;
}

.badge-c {
  background-color: $p700-yellow;
  color: $white;
}

.badge-d {
  background-color: $p600-red;
  color: $white;
}

.badge-f {
  background-color: $p600-red;
  color: $white;
}
