.grades {
  display: flex;
  flex-wrap: wrap;
}

.grade {
  flex: 1;
  text-align: center;

  .grade-title {
    font-size: 12px;
    font-weight: bold;
  }
}

@include media-breakpoint-up(md) {
  .grade {
    .grade-title {
      font-size: 18px;
    }
  }
}
