.heading-underline {
  border-bottom: 1px solid $p200-deep-purple;
  padding-bottom: 9px;
}

.top-menu {
  position: sticky;
  top: 0;
  z-index: $zindex-fixed;

  .navbar-show-scrolled {
    display: none;
  }

  &.navbar-scrolled {
    @include media-breakpoint-down(md) {
      .display-small-scrolled {
        display: block;
      }
    }

    @include media-breakpoint-up(lg) {
      .menu-body {
        flex: initial;
        white-space: nowrap;
      }

      .display-small-scrolled {
        display: none;
      }
    }

    .display-lg-scrolled {
      display: none;
    }

    .navbar-hide-scrolled {
      display: none !important;
    }

    .navbar-show-scrolled {
      display: block;
      flex: 1 1 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@each $name, $theme in $themes {
  @if map-get($theme, menu-bg-scrolled) {
    .navbar-scrolled {
      .menu-#{$name} {
        background-color: map-get($theme, menu-bg-scrolled);
      }
    }
  }
}
