.img-ignore-selection {
  @include ignore-selection;
}

@keyframes wiggle {
  25% {
    transform: rotate(7deg);
  }

  75% {
    transform: rotate(-7deg);
  }
}

.wiggle {
  @include ignore-selection;
}

.wiggle:hover {
  animation: wiggle 2s linear infinite;
}
