.label-a {
  background-color: $p600-green;
}

.label-b {
  background-color: $p700-yellow;
}

.label-c {
  background-color: $p700-yellow;
}

.label-d {
  background-color: $p600-red;
}

.label-f {
  background-color: $p600-red;
}
