.letters {
  @include ignore-selection;

  white-space: nowrap;
}

.animated-letter {
  @include ignore-selection;

  animation: fade-in 750ms ease-out, letters-scale 750ms cubic-bezier(.31, 1.22, .61, 1.26);
  animation-fill-mode: forwards;
  display: inline-block;
  opacity: 0;
  transform: scale(.2);

  &.animated-letter-shift-up {
    animation: fade-in 750ms ease-out, letters-shift-up 750ms cubic-bezier(.31, 1.22, .61, 1.26);
    animation-fill-mode: forwards;
  }

  &.animated-letter-shift-down {
    animation: fade-in 750ms ease-out, letters-shift-down 750ms cubic-bezier(.31, 1.22, .61, 1.26);
    animation-fill-mode: forwards;
  }
}
