// This is for UL elements
.left-menu {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  li {
    display: block;
    position: relative;

    a {
      border-left: 2px solid transparent;
      display: block;
      padding: 7px 15px;
      position: relative;
    }

    .active,
    a:hover,
    a:focus {
      text-decoration: none;
    }

    &.left-menu-header {
      @include brand;
      font-size: 85%;
      font-weight: normal;
      letter-spacing: 1px;
      margin-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
      text-transform: uppercase;
    }

    // Add a margin to the top of a menu header if it has other menu items
    // preceding it
    + .left-menu-header {
      margin-top: 20px;
    }
  }
}

.menu-logo {
  margin-bottom: 15px;
  margin-top: 15px;
  padding-right: 15px;

  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      position: sticky;
      top: 0;
      z-index: $zindex-sticky;
    }
  }
}



@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .left-menu {
      li {
        .active,
        a:hover,
        a:focus {
          background-color: map-get($theme, p200);
          border-color: map-get($theme, p500);
          color: map-get($theme, brand-white);
        }
        &.left-menu-header {
          color: map-get($theme, p500);
        }
      }
    }

    .menu-logo {
      background-color: map-get($theme, brand-black);
    }
  }
}
