.section-heading,
.section-heading-internal {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
  margin: 0 0 20px;
  padding-top: 40px;

  .section-description {
    color: $text-muted;
    font-weight: normal;
    line-height: 1.4em;
  }
}

.section-heading-internal {
  margin: 0 0 40px;
}

.section-body {
  padding-bottom: map-get($spacers, 4);

  p,
  ul {
    line-height: 1.8em;
    margin-bottom: 20px;
  }

  li {
    line-height: 1.8em;
    margin-bottom: 10px;
    ul {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
}

.paper-clip {
  box-shadow: 0 0 4px;
  margin-bottom: 20px;
  padding: 15px;

  .paper-clip-heading {
    padding: 5px;
    border-bottom-width: 0;
    margin-top: 0;
  }
}


@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .section-heading,
    .section-heading-internal {
      .section-description {
        color: theme-color($theme, text-muted, $text-muted);
      }
    }

    .brand-background {
      .section-description {
        color: map-get($theme, brand-white);
      }
    }

    .paper-clip {
      background: linear-gradient(map-get($theme, brand-white), map-get($theme, p50));
    }
  }
}
