.table .percent {
  font-size: .8em;
  text-align: right;
  vertical-align: middle;
  white-space: nowrap;
}

.table .count {
  text-align: right;
  vertical-align: middle;
}

.table .lighter {
  color: $purple-light-color-gray;
}
