// Base styles (regardless of theme)

.bs-callout {
  border-left: 5px solid $gray-lighter;
  margin: 20px 0;
  padding: 15px 30px 15px 15px;

  h4 {
    font-weight: 500;
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.bs-callout code,
.bs-callout .highlight {
  background-color: $gray-lighter;
}

// Themes for different contexts

.bs-callout-danger {
  background-color: $purple-light-bg;
  border-color: $purple-light-color;
  color: $purple-light-color;
}

.bs-callout-warning {
  background-color: $purple-bg;
  border-color: $purple-color;
  color: $purple-color;
}

.bs-callout-info {
  background-color: $brown-light-bg;
  border-color: $brown;
  color: $brown-light-color;
}
