// Base styles (regardless of theme)

.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}

.bs-callout h4 {
  margin-top: 0;
  font-weight: 500;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
  background-color: $gray-lighter;
}

// Themes for different contexts

.bs-callout-danger {
  background-color: $panel-danger-heading-bg;
  border-color: $panel-danger-border;
  color: $panel-danger-text;
}
.bs-callout-warning {
  background-color: $panel-warning-heading-bg;
  border-color: $panel-warning-border;
  color: $panel-warning-text;
}
.bs-callout-info {
  background-color: $panel-info-heading-bg;
  border-color: $panel-info-border;
  color: $panel-info-text;
}
