@mixin white-links {
  a {
    color: $white;
  }
}

.color-container {
  margin: 0px -15px;
  padding: 20px;
}

.brown-fill {
  @include white-links;
  background-color: $brown-bg;
  color: $brown-color;
}

.brown-light-fill {
  @include white-links;
  background-color: $brown-light-bg;
  color: $brown-light-color;
}

.purple-fill {
  @include white-links;
  background-color: $purple-bg;
  color: $purple-color;
}

.purple-light-fill {
  @include white-links;
  background-color: $purple-light-bg;
  color: $purple-light-color;
}

.pink-fill {
  @include white-links;
  background-color: $pink-bg;
  color: $pink-color;
}

.brown-fill-white {
  background-color: $brown-bg;
  color: $white;
  a {
    color: $brown-color;
  }
}

.brown-light-fill-white {
  background-color: $brown-light-bg;
  color: $white;

  a {
    color: $brown-light-color;
  }
}

.purple-fill-white {
  background-color: $purple-bg;
  color: $white;

  a {
    color: $purple-color;
  }
}

.purple-light-fill-white {
  background-color: $purple-light-bg;
  color: $white;

  a {
    color: $purple-light-color;
  }
}

.pink-fill-white {
  background-color: $pink-bg;
  color: $white;

  a {
    color: $pink-color;
  }
}

.brown {
  background-color: $white;
  color: $brown-bg;

  a {
    color: $brown-color;
  }
}

.brown-light {
  background-color: $white;
  color: $brown-light-bg;

  a {
    color: $brown-light-color;
  }
}

.purple {
  background-color: $white;
  color: $purple-bg;

  a {
    color: $purple-color;
  }
}

.purple-light-on-white {
  background-color: $white;
  color: $purple-light-bg;

  a {
    color: $purple-light-color;
  }
}

.pink {
  background-color: $white;
  color: $pink-bg;

  a {
    color: $pink-color;
  }
}

.dark-brown {
  background-color: $white;
  color: $brown-color;

  a {
    color: $brown-bg;
  }
}

.dark-brown-light {
  background-color: $white;
  color: $brown-light-color;

  a {
    color: $brown-light-bg;
  }
}

.dark-purple {
  background-color: $white;
  color: $purple-color;

  a {
    color: $purple-bg;
  }
}

.dark-purple-light {
  background-color: $white;
  color: $purple-light-color;

  a {
    color: $purple-light-bg;
  }
}

.dark-pink {
  background-color: $white;
  color: $pink-color;

  a {
    color: $pink-bg;
  }
}
