.flash-alert, .flash-notice {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  .lead {
    margin: 0px;
  }
}

.flash-alert {
  background-color: $pink-bg;
  color: $pink-color;
  background-image: none;
}

.flash-notice {
  background-color: $purple-light-bg;
  color: $purple-light-color;
  background-image: none;
}
