.flash-alert,
.flash-notice {
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;

  .lead {
    margin: 0;
  }
}

.flash-alert {
  background-color: $pink-bg;
  background-image: none;
  color: $pink-color;
}

.flash-notice {
  background-color: $purple-light-bg;
  background-image: none;
  color: $purple-light-color;
}
