.sign-up-form {
  margin: 0 auto;
  max-width: 400px;
}

.sign-up-form-title {
  color: $gray-dark;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (min-width: $screen-sm-min) {
  .sign-up-form-title {
    @include brand;
    background-color: $purple-bg;
    border-radius: 0;
    color: $white;
    font-size: 24px;
    margin: -20px -20px 20px;
    padding: 10px 20px;
    text-decoration: none;
  }

  .sign-up-form {
    background-color: $white;
    border: 1px solid $purple-color;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
  }
}
