.anchor-top {
  display: block;
  height: 0;
  position: relative;
  top: -($header-height);
  width: 0;
}

.anchor-no-menu {
  display: block;
  height: 0;
  position: relative;
  top: 1px;
  width: 0;
}

a.title-link,
a.footer-link {
  backface-visibility: hidden; // Fix for transition flickering
  color: $purple-color;
  text-decoration: none;
  transition: all .2s ease; // Fade to color for Chrome and Safari
}

a.title-link:hover {
  color: $purple;
}

// a.footer-link:hover {
//   color: white;
// }
