// This is for UL elements
.left-menu {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  li {
    display: block;
    position: relative;

    a {
      border-bottom: 2px solid transparent;
      display: block;
      padding: 7px 15px;
      position: relative;
    }

    a:hover,
    a:focus {
      background-color: $purple-light-bg;
      border-color: $purple-color;
      color: $purple-light-color;
      text-decoration: none;
    }

    &.active {
      a,
      a:hover,
      a:focus {
        background-color: $purple-bg;
        color: $purple-color;
      }
    }

    &.left-menu-header {
      @include brand;
      color: $gray;
      font-size: 85%;
      font-weight: normal;
      letter-spacing: 1px;
      margin-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
      text-transform: uppercase;
    }

    // Add a margin to the top of a menu header if it has other menu items
    // preceding it
    + .left-menu-header {
      margin-top: 20px;
    }
  }
}
