// Mixin for textures that stretch
@mixin cover-texture {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -ms-behavior: asset-url('ie8/backgroundsize.min.htc');
}

// Mixin for textures that are tiled
@mixin tile-texture {
  background-repeat: repeat;
}

@mixin dark-texture {
  color: white;
  font-weight: bold;
}

.bridge-texture {
  @include cover-texture;
  @include dark-texture;
  background-image: asset-url('textures/bridge.jpg');
  border-top: 5px solid $purple;
  border-bottom: 5px solid $purple-light;
}

.swings-texture {
  @include cover-texture;
  @include dark-texture;
  background-image: asset-url('textures/swings.jpg');
}
