- @title = 'New Category'

.container
  .row
    .col-md-3
      = render 'editor/menu'
    .col-md-9
      .color-container.brown
        %h1.brand
          New Category

      .color-container
        = render 'form'

