- @title = "Edit User"

- content_for :sidebar, render("setup/sidebar")
- content_for :header do
  = link_to @user.name_was, admin_user_path(@user)
  Edit

.dashboard-container
  = render "form", user: @user
