- @title = "Edit User: #{@user.name_was}"

.container
  .row
    .col-md-3
      = render 'setup/menu'
    .col-md-9
      .color-container.dark-brown
        %h1.brand
          = @user.name_was
        %h4.brown
          Edit User

      .color-container
        = render 'form'

