.container
  .row
    .col-md-3
      = render 'admin/menu'
    .col-md-9
      .color-container.dark-brown
        %h1.brand Admin Dashboard
        %h4.brand.brown Pediatric Adenotonsillectomy Trial for Snoring

      %a.anchor-top{ name: 'home'}
      .color-container.dark-brown
        %p.lead
          This page allows you to
          %strong approve users
          and
          = succeed '.' do
            %strong set user roles

      = render 'admin/users/users'
