- @title = 'Users'
.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.dark-brown
        %h1.brand= @title
        %h4.brown Pediatric Adenotonsillectomy Trial for Snoring

      %a.anchor-top{ name: 'home'}
      .color-container.dark-brown
        %p
          This page allows you to
          %strong approve users
          and
          = succeed '.' do
            %strong set user roles

      = render 'admin/users/users'
