- @title = 'Users'
.row
  .col-sm-9.col-sm-push-3
    .section-heading-internal
      %h1= @title
      .section-description
        This page allows you to
        %strong approve users
        and
        = succeed '.' do
          %strong set user roles
    .section-body
      = render 'admin/users/users'
  .col-sm-3.col-sm-pull-9
    = render 'setup/menu'
