.dark-purple
  .container
    .color-container
      %h1.brand Credits
      %h4.brand.purple Special thanks to the following:


.purple-fill
  .container
    .color-container
      %ul.lead
        %li
          %strong Joel S. Rube
          %br
          %small Artist of PATS Boy, PATS Girl, and PATS Logo
        %li
          %strong= link_to 'Unsplash', 'https://unsplash.com', target: '_blank'
          %br
          %small Source of free high-resolution photos.
        %li
          %strong= link_to 'Subtle Patterns', 'http://subtlepatterns.com', target: '_blank'
          %br
          %small Source of free high-quality tilable textured patterns.

.purple
  .container
    .color-container
      = image_tag 'pats-logo-transparent.png', alt: '', class: 'img-responsive'


