- content_for :body_class do
  brand-background

.section-heading
  %h1 Credits
  .section-description Special thanks to the following:

.section-body
  %ul.lead
    %li
      %strong Joel S. Rube
      %br
      %small Artist of PATS Boy, PATS Girl, and PATS Logo

= content_for :footer do
  = render 'external/welcome'
