- @title = 'Version'

.container
  .color-container.dark-purple
    %h1.brand Version

.container
  .purple
    .color-container
      .center
        %p.lead
          Current version
          %strong.white-on-purple= PatstrialOrg::VERSION::STRING
