- @title = 'Version'

.container
  .color-container.dark-purple
    %h1.brand Version

.purple-fill
  .container
    .color-container
      .center
        %p.lead
          Current version
          %strong.purple-fill-white= PatstrialOrg::VERSION::STRING
