- @title = 'Version'

.color-container.dark-purple
  %h1.brand Version

.color-container.purple-light
  .center
    %p.lead
      Current version
      %strong.white-on-purple-light= PatstrialOrg::VERSION::STRING
