.color-container.dark-purple
  %h1.brand Welcome to the PATS Trial Website!

.color-container.purple
  %p.lead
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

.color-container.purple-light
  %h2.brand Useful Links
  %p.lead
    - if current_user
      = link_to 'Dashboard', dashboard_path, style: 'color: white;font-weight:bold', class: 'brand'
      &middot;
      = link_to 'Sign Out', destroy_user_session_path, style: 'color: white;font-weight:bold', class: 'brand'
    - else
      = link_to 'Login', new_user_session_path, style: 'color: white;font-weight:bold', class: 'brand'
      &middot;
      = link_to 'Sign Up', new_user_registration_path, style: 'color: white;font-weight:bold', class: 'brand'
