- @title = 'Reports - Eligibility Status'
.row
  .col-sm-9.col-sm-push-3
    .section-heading-internal
      %h1 Eligiblity Status
      .section-description
        - if @recruitment
          Data last updated
          = Time.parse(@recruitment[:exported_at]).strftime('%a, %b %d at %I:%M %p.')

    .section-body
      - if @eligibility_status && @eligibility_status[:tables]
        - @eligibility_status[:tables].each do |table|
          = render 'reports/draw_advanced_table', table: table

      .row{ style: 'margin-top: 20px' }
        .col-md-4
        .col-md-4
          .jumbotron.center
            %h4.text-muted Eligibility
            .report-number
              %span.glyphicon.glyphicon-list-alt
        .col-md-4
          = link_to reports_demographics_status_path(subjects: 'screened'), class: 'title-link' do
            .jumbotron.center
              %h4.text-muted Demographics
              .report-number
                %span.glyphicon.glyphicon-arrow-right


  .col-sm-3.col-sm-pull-9
    = render 'internal/menu'
