- @title = "Edit Viewer: #{@viewer.username_was}"

.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.dark-brown
        %h1.brand
          = @viewer.username_was
        %h4.brown
          Edit Viewer

      .color-container
        = render 'form'

