.row
  .col-sm-9.col-sm-push-3
    .section-heading-internal
      %h1
        Viewers
        = link_to 'Add New Viewer', new_admin_viewer_path, class: 'btn btn-xs btn-default'
      .section-description
        You may edit viewers here.
    .section-body
      = render 'admin/viewers/viewers'
  .col-sm-3.col-sm-pull-9
    = render 'setup/menu'
