.row
  .col-md-9.order-2
    .section-heading-internal
      %h1
        Viewers
        = link_to 'Add New Viewer', new_admin_viewer_path, class: 'btn btn-sm btn-light'
      .section-description
        You may edit viewers here.
    .section-body
      = render 'admin/viewers/viewers'
  .col-md-3.order-1
    = render 'setup/menu'
