.container
  .row
    .col-sm-9.col-sm-push-3
      .color-container.dark-purple
        %h1.brand Viewers
        %h4.purple You may edit viewers here.
        = link_to 'Add New Viewer', new_admin_viewer_path, class: 'btn btn-xs btn-default'

      = render 'viewers'
    .col-sm-3.col-sm-pull-9
      = render 'setup/menu'
