.container
  .row
    .col-md-3
      = render 'admin/menu'
    .col-md-9
      .color-container.dark-brown
        %h1.brand Viewers
        %h4.brown Editor Dashboard
      .color-container.dark-brown
        %p.lead
          You may edit viewers here.

      = render 'viewers'
