.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.dark-brown
        %h1.brand Viewers
        %h4.brown Editor Dashboard
      .color-container.dark-brown
        %p
          You may edit viewers here.

      = render 'viewers'
