- @title = "New Viewer"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("setup/sidebar")
- content_for :header, @title

.dashboard-container= render "form", viewer: @viewer
