- @title = 'New Viewer'

.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.dark-purple
        %h1.brand
          = link_to 'Viewers', admin_viewers_path
          &middot;
          New Viewer
        %h4.purple
          Enter new viewer information.

      .color-container
        = render 'form'

