- @title = 'New Viewer'

.row
  .col-sm-9.col-sm-push-3
    .section-heading-internal
      %h1
        = link_to 'Viewers', admin_viewers_path
        &middot;
        New Viewer
      .section-description
        Enter new viewer information.

    .section-body
      = render 'form'

  .col-sm-3.col-sm-pull-9
    = render 'setup/menu'
