- @title = 'New Viewer'

.row
  .col-md-9.order-2
    .section-heading-internal
      %h1
        = link_to 'Viewers', admin_viewers_path
        &middot;
        New Viewer
      .section-description
        Enter new viewer information.

    .section-body
      = render 'form'

  .col-md-3.order-1
    = render 'setup/menu'
