- @title = 'New Viewer'

.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.dark-brown
        %h1.brand
          New Viewer
        %h4.brown
          Enter new viewer information.

      .color-container
        = render 'form'

