- if flash[:notice]
  .flash-notice
    %p.lead.center
      %span.brand Awesome!
      = flash[:notice].html_safe
- if flash[:alert]
  .flash-alert
    %p.lead.center
      %span.brand Oh no!
      = flash[:alert].html_safe
