- if flash[:notice].present?
  .flash-notice
    .lead.center
      %span.brand Awesome!
      = flash[:notice].html_safe
- if flash[:alert].present?
  .flash-alert
    .lead.center
      %span.brand Oh no!
      = flash[:alert].html_safe
