.footer
  .footer-on-top
    = image_tag 'pats-girl.png', alt: '', height: '40px', style: 'text-align:right'
    / %span.dark-purple.brand PATS
    = image_tag 'pats-boy.png', alt: '', height: '40px', style: 'text-align:right'
  .row
    .col-xs-4.nowrap
      &copy; 2015 PATS Trial
    .col-xs-4
      .brand.center.dark-purple{ style: 'background-color:transparent' }
        = link_to 'P', root_path, class: 'footer-link'
    .col-xs-4.nowrap.text-right
      Funded By
      = link_to 'National Heart, Lung, and Blood Institute', 'https://clinicaltrials.gov/show/NCT02562040', target: '_blank'
