%ul.sidebar-menu.sidebar-menu-root
  %li
    = link_to dashboard_path, class: "text-white brand" do
      PATS
      = image_tag "pats-boy.png", alt: "", style: "height: 30px;"
      = image_tag "pats-girl.png", alt: "", style: "height: 30px;"
