$deep-purple: (
  brand-white: #fff,
  brand-black: $p900-grey,

  p50: $p50-deep-purple,
  p100: $p100-deep-purple,
  p200: $p200-deep-purple,
  p300: $p300-deep-purple,
  p400: $p400-deep-purple,
  p500: $p500-deep-purple,
  p600: $p600-deep-purple,
  p700: $p700-deep-purple,
  p800: $p800-deep-purple,
  p900: $p900-deep-purple,

  primary: $p500-deep-purple,
  accent: $p300-black,
  success: null, // $p500-green

  selection-bg: $p200-black, // $p200-COLOR
  selection-color: #fff,

  menu-bg: null, // $p900-COLOR  TODO: WAS $p600-deep-purple
  menu-color: null, // brand-white

  header-bg: $p900-deep-purple,
  header-border: $p200-black,

  body-bg: $p900-deep-purple,
  body-color: $p900-grey,
  body-focus: $p700-deep-purple,

  footer-bg: $p900-deep-purple, // $p100-grey
  footer-color: #fff, // $p900-grey

  dashboard-bg: #fff,
  form-title-bg: $p500-deep-purple, // $p500-COLOR
  form-bg: $p50-grey,

  input-bg: null, // $white
  input-color: null, // $p800-grey

  box-shadow-color: rgba(0, 0, 0, .15),
  shadow-color: rgba(0, 0, 0, .3),

  blockquote-border: null, // $p200-grey
  blockquote-color: null, // $p500-grey
);
